<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Test</title>
    
</head>
<body>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <div id="wrapper">
        <div id="header"></div>
        <div id="content">
            <div class="focus">
                <h1>Off Meta</h1>
                <form class="searchForm">
                <div class="comboSearch">
                    <input type="text" class="champSearch combo" placeholder="Champion Name" autocomplete="off">
                    <button id="button" class="searchbutton combo">
                        <i class="searchSprite">Search</i>
                    </button>
                </div>
                </form>
            </div>
        </div>
        <div id="footer">
            <div class="footerText">
                <p>Offmeta.gg is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                </p>
            </div>
        </div>
        <script>
        </script>

</body>
</html>